.login {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__header {
  font-weight: 100;
  margin-bottom: 60px;
  border-bottom: 1.5px solid;
}

.login p {
  font-weight: 300;
  font-size: 18px;
}

.login h4 {
  font-weight: 300;
}

.login__social {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.login__socialButton {
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  -webkit-filter: brightness(100%);
  cursor: pointer;
}

.login__socialButton:hover {
  opacity: 0.5;
  -webkit-filter: brightness(70%);
}

.login__socialButton img {
  width: 40px;
  height: 40px;
}

/* .login__join {
  cursor: pointer;
  background-color: black;
  margin: 20px;
  transition: 0.3s;
}

.login__join:hover {
  background-color: #a2c1e0;
}

.login__join p {
  font-size: 18px;
  margin: 10px;
  color: white;
} */
