* {
  margin: 0;
}

body {
  background-color: #f3f3f3;
  font-size: 12px;
  font-family: "Noto Sans KR";
  font-weight: 400;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #151515;
}

p[role="alert"] {
  color: tomato;
}

div .button {
  cursor: pointer;
  background-color: black;
  margin: 20px;
  transition: 0.3s;
  max-width: fit-content;
  border-radius: 5px;
}

div .button:hover {
  background-color: #a2c1e0;
}

div .button p {
  font-size: 18px;
  margin: 10px;
  color: white;
}
